**/dist/**
**/build/**
**/node_modules/**
apps/eventApp/**/*
apps/faultApp/**/*
apps/helpApp/**/*
apps/inventoryApp/**/*
apps/maintenanceApp/**/*
apps/mediatorApp/**/*
apps/performanceHistoryApp/**/*
#apps/microwaveApp/**/*
#apps/siteManagerApp/**/*