.parent{
    
    display: flex;
    justify-content: space-evenly;
    margin: auto;
    

}
.input {
    width: 150px;
    box-sizing: border-box;
    // margin-bottom: 5px;

}
.error {
    border: 1px solid red;
    width: 150px;
    box-sizing: border-box;
}


.container-1 {
  height: 50vh;
  width: 80%;
  justify-content: center;
  align-items: baseline;;
    display: flex;
    flex-direction: row;
    align-content: space-between;
    padding: 20px 40px;
    border-radius: 10px;
    // box-shadow: 0px 10px 50px #555;
    background-color: #ffffff;
    // padding-top: 10px;
   
}

  .column1 {
    flex-direction: column;
    width: 30%;
    align-items: flex-end;;
    // padding: 2em;
    
  }
  .column1 div {
    margin-top: 10px;
    // align-items: space-between;
    // flex-wrap: wrap;
    border-bottom-style: solid;
    border-bottom-width: thin;
    border-color: silver;
  }
  .middlecolumn{
    
    flex-direction: column;
    flex-grow: 1;
    // padding: 10px 10px;
  }

  .middlecolumn div{
    margin-top: 10px;
    border-bottom-style: solid;
    border-bottom-width: thin;
    border-color: silver;
    }

  .column2 {
    margin-left: 200px;
  }
  .column2 div{
    margin-top: 10px;
   
  }